.black_bg {
    background-color: #000;
}
.inline {
    display: inline-block;
}
.button {
    font-size: 1em;
    font-weight: bolder;
    border-style: outset;
    padding: 0.2em;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 8px 2px 0px 0px;
}
.hidden {
    display: none;
}
.thinBlackBorder {
    border-style: solid;
    border-width: 1px;
}
.hoverContainer {
    padding: 20px;
}
